<h1>Accessible HTML5 Audio Player</h1>
<audio controls id="player">
    <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/test.mp3" type="audio/mpeg">
    <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/audio.ogg" type="audio/ogg">
    <track src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/transcription.vtt" label="English Captions" kind="subtitles" srclang="en-us" default />
    Your browser does not support HTML5 audio.
</audio>

<p class="visually-hidden audio-transcript" tabindex="0">This is an audio recording. You are hearing the audio.</p>
<!-- tabindex on buttons below is only for this demo -- use wisely -->
<p>
    <button class="audio-ctrl play" tabindex="1">listen to audio</button>
    <button class="audio-ctrl pause" tabindex="2">pause</button>
    <button class="audio-ctrl read" tabindex="3">read transcript</button>
</p>
